<div class="col-sm-6 col-lg-6">
<div class="jumbotron">
  <h1>Simple-Mailer</h1>
  <p>Sistema de envios de mail masivos</p>
  <p><a class="btn btn-primary btn-lg" href="/Campana" role="button" >Crear Campaña</a></p>
</div>
</div>
<div class="col-sm-6 col-lg-6">
   <div class="panel panel-primary">
  <div class="panel-heading">Ultimas campañas enviadas </div>
  <div class="panel-body">
     ...
  </div>
</div>

</div>
  

     <!-- /container -->
